<template>
  <require from="common/contact-card"></require>

  Discussion input:
  <input type="text" value.bind="discussionInput">
  <br>
  <button class="btn btn-default" click.delegate="save()">Save</button>

  <contact-card contact-first-name.bind="someUserName"></contact-card>
</template>
