 <template>
  <div class="events-list-container">
    <div repeat.for="event of events">

      <!-- loop context values -->
      <div>
        Index : ${$index},
        First : ${$first},
        Last  : ${$last},
        Even  : ${$even},
        Odd   : ${$odd},
      </div>

      <!-- parent access to view model -->
      <div>${$parent.whoareyou}</div>

      <!-- model.bind="event" implicitly puts a binding context on event.html view that is named event -->
      <compose model.bind="event" view="./event.html"></compose>
    </div>
  </div>
</template>
