<template>
  <div class="bg-success rbox">
    <table>
      <tr>
        <td>
          <a href.bind="event.detailUrl">
            <h3 textContent.bind="event.title"></h3>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <h5>${event.dateTime}</h5>
        </td>
      </tr>
      <tr>
        <td innerHtml.bind="event.description | sanitizeHTML"></td>
      </tr>
    </table>

    <!-- Experiment with different binding modes -->
    <!-- <div textContent.two-way="event.description" contenteditable="true"></div> -->

  </div>
</template>
