<template>
  <style>
  .nav-tabs li a {font-size:20px;}
  </style>
  <ul class="nav nav-tabs">
    <li repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
      <a href.bind="route.href">${route.title}</a>
    </li>
  </ul>
  <!-- Child router of shell that has its own router view that this view is contained in -->
  <router-view></router-view>
</template>
