<template>
  <require from="common/speaker-image"></require>
  
  <div class="row">
    <div class="col-md-3">

      <!-- custom attribute example usage -->
      <!-- <img src="images/speakers/${eventDetail.image}" style="width:100%; max-width:200px" alt="speaker"> -->
      <!-- <img speaker-image="${eventDetail.image}" style="width:100%; max-width:200px" alt="speaker"> -->
      <!-- <img speaker-image="${eventDetail.image}" style="width:100%;" alt="speaker"> -->

      <!-- Notice keys are lower cased with dashes rather than camel cased in view model -->
      <img speaker-image="image-name.bind: eventDetail.image; is-mvp.bind: eventDetail.isMvp" alt="speaker profile photo">

    </div>
    <div class="col-md-9">
      <h3>${eventDetail.title}</h3>
      <h5>${eventDetail.dateTime}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      ${eventDetail.description}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button click.trigger="navigateEvents()" class="btn btn-default">Back to Events</button>
    </div>
  </div>
</template>
