<template>
  <!-- Root view for the application -->

  <div class="container">
    <div class="">${message}</div>
    <div class=""><img src.bind="image" alt="data bound image example"></div>
    <div class=""><input type="text" value.bind="input"></div>
    <div class="">${input}</div>
  </div>

</template>
