<template>
  <div repeat.for="event of events">
    <compose model.bind="event" view-model="event"></compose>
  </div>
  <button class="btn btn-default" click.trigger="createAndUseLazy()">Do Lazy</button>
</template>
