<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="font-awesome/css/font-awesome.css"></require>
  <require from="common/nav-bar"></require>

  <!-- <navigation-bar router.bind="router"></navigation-bar> -->
  <nav-bar router.bind="router">
    <template replace-part="brand">
      <span>Acme Corp.</span>
    </template>
  </nav-bar>

  <div class="container">
    <!-- demo throttle binding behavior -->
    <!-- <div>${timeIs & throttle:1500}</div> -->
    <div class="col-xs-10">
      <router-view name="mainContent"></router-view>
    </div>
    <div class="col -xs-2">
      <router-view name="sideBar"></router-view>
    </div>
  </div>

</template>
