<template>
  <!-- ${message} -->
  <!-- <div textContent.bind="message"></div> -->
  <div textContent.one-time="message"></div>
  <button type="button" click.delegate="doSomething()">Click Me</button>

  <input type="text" ref="input1">
  <div>${input1.value}</div>
  <!-- <div style.bind="styleString">${input1.value}</div> -->

  <!-- <div style.bind="styleObject" repeat.for="[key, value] of mapCollection"> -->
  <div repeat.for="[key, value] of mapCollection">
    ${key} : ${value}
  </div>
</template>
