<template>
  <require from="common/items-control-2"></require>

  <div items-control-2.bind="jobs">
    <div class="rbox">
      <h2>${title}</h2>
      <div>${location}</div>
    </div>
  </div>

  JOBS
</template>
