.events-list-container {
  margin-top: 10px;
}

.rbox {
  border-radius: 15px;
  border: 2px solid #8AC007;
  padding: 10px;
  margin-bottom: 10px;
}

.watermark {
  border-radius: 3px;
  background: #3ab174;
  color: #ffffff;
  padding: 10px 10px;
  font-size: .8em;
  font-weight: 400;
  position: absolute;
  top: 5px;
  right: 20px;
  opacity: 0.5;
}
